/* Attribution-NonCommercial-NoDerivatives 4.0 International Kezziah Camille Ayuno */
/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

body {
    background-image: url("images/hacker_bg.jpg");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #FFFF00;
    font-style: italic;
}

h2 {
    color: #30E004;
    font-weight: 700;
}

h3 {
    color: #EA6134;
    font-weight: 500;
    font-style: italic;
}

p {
    background-color: #CD5CCD;
    color: #34EA34;
}

img {
    box-shadow: 4px 4px 2px #34EAD4;
}

ul {
    color: #FFFFFF;
}

.sidebar {
    height: auto;
    width: fit-content;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #34EAD4;
}

