/* Attribution-NonCommercial-NoDerivatives 4.0 International Kezziah Camille Ayuno */

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #A7C7E7;
    display: flex;
}

.sidebar {
    font-size: small;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 20%;
    margin-right: 20px;
}

#homepage {
    flex: 1 0 auto;
    width: 70%;
}

img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid #FDFD96;
}

h1 {
    text-align: center;
    border-bottom: 2px dashed #000000;
    padding-bottom: 5px;
}

h2 {
    border-bottom: 2px dashed #FFFFFF;
    padding-bottom: 5px;
}

h3 {
    font-size: small;
}